{% extends "base.html" %}
{% block countryInfo %}
<form class="mt-2 bg-light" action="http://localhost:5000/getCountry/{{ country_name }}" method="POST">
        <h3 style="text-align: center">Dane statystyczne dla wybranego kraju:</h3>
        <h6 class="ml-2">Kategorie:</h6>
        <div class="form-row">
            <div class="custom-control custom-radio ml-2 mt-1">
                <input type="radio" id="sexRadio" name="category" value="sex" class="input1" checked="checked">
                <label class="label1" for="sexRadio">Porównane przychodu dla obu płci</label>
            </div>
            <div class="custom-control custom-radio ml-2 mt-1">
              <input type="radio" id="ageRadio" name="category" value="age" class="input1">
              <label class="label1" for="ageRadio">Porównanie przychodu dla poszczególnych grup wiekowych</label>
            </div>
            <div class="custom-control custom-radio ml-2 mt-1">
              <input type="radio" id="yearRadio" name="category" value="year" class="input1">
              <label class="label1" for="yearRadio">Porównanie przychodu dla poszczególnych lat</label>
            </div>
        </div>
        <h6 class="ml-2">Waluta:</h6>
        <div class="form-row">
            <div class="custom-control custom-radio ml-2 mt-1">
              <input type="radio" id="incomeEuroRadio" name="currency" value="mean_equivalised_net_income_euro" class="input2" checked="checked">
              <label class="label2" for="incomeEuroRadio">Euro</label>
            </div>
            <div class="custom-control custom-radio ml-2 mt-1">
                  <input type="radio" id="incomeNationalRadio" name="currency" value="mean_equivalised_net_income_national_currency" class="input2">
                  <label class="label2" for="incomeNationalRadio">Narodowa</label>
            </div>
            <button type="submit" class="btn btn-primary mx-3 mb-3">Zatwierdź</button>
        </div>
    </form>
    <div id="content"></div>
    <script>
    var chartEl = document.getElementById('content')
    var content
    if ("{{ category }}" == "age"){
        content = '<canvas id="ageChart"></canvas>'
    } else if ("{{ category }}" == "sex") {
        content = '<canvas id="femaleMaleChart"></canvas>'
    } else if ("{{ category }}" == "year") {
        content = '<canvas id="yearChart"></canvas>'
    } else {
        content = '<h1> </h1>'
    }
    chartEl.insertAdjacentHTML('afterbegin', content)
    </script>
    <script>
        var mychart = document.getElementById("ageChart").getContext("2d");

        var chart = new Chart(mychart, {
            type: 'line',
            data: {
                datasets: [{
                    label: "Przedział wiekowy 18-24",
                    data: [
                        {% for item in age18_24List %}
                        "{{ item }}",
                        {% endfor %}
                    ],
                    borderColor: 'rgba(237, 45, 45)',
                }, {
                    label: "Przedział wiekowy 25-49",
                    data: [
                        {% for item in age25_49List %}
                        "{{ item }}",
                        {% endfor %}
                    ],
                    borderColor: 'rgba(92, 224, 85)',
                }, {
                    label: "Przedział wiekowy 50-64",
                    data: [
                        {% for item in age50_64List %}
                        "{{ item }}",
                        {% endfor %}
                    ],
                    type: "line",
                    borderColor: 'rgba(185, 85, 224)',
                }],
            labels: [2013, 2014, 2015, 2016, 2017, 2018, 2019]
            },
            options: {
                title: {
                    display: true,
                    text: 'Porównanie przychodu dla poszczególnych grup wiekowych'
                }
            }
        });
    </script>
    <script>
        var mychart = document.getElementById("femaleMaleChart").getContext("2d");

        var chart = new Chart(mychart, {
            type: 'line',
            data: {
                datasets: [{
                    label: "Kobiety",
                    data: [
                        {% for item in femaleList %}
                        "{{ item }}",
                        {% endfor %}
                    ],
                    borderColor: 'rgba(237, 45, 45)',
                    fill: false
                }, {
                    label: "Mężczyźni",
                    data: [
                        {% for item in maleList %}
                        "{{ item }}",
                        {% endfor %}
                    ],
                    borderColor: 'rgba(92, 224, 85)',
                    fill: false
                }],
            labels: [2013, 2014, 2015, 2016, 2017, 2018, 2019]
            },
            options: {
                title: {
                    display: true,
                    text: 'Porównane przychodu dla obu płci'
                }
            }
        });
    </script>
    <script>
        var mychart = document.getElementById("yearChart").getContext("2d");

        var chart = new Chart(mychart, {
            type: 'bar',
            data: {
                datasets: [{
                    data: [
                        {% for item in averageYearList %}
                        "{{ item }}",
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(240, 117, 50)',
                    borderColor: 'rgba(0, 0, 0, 1)',
                    borderWidth: 1,
                    label: "Średni przychód w danym roku"
                }],
            labels: [2013, 2014, 2015, 2016, 2017, 2018, 2019]
            },
            options: {
                title: {
                    display: true,
                    text: 'Porównanie przychodu dla poszczególnych lat'
                },
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>
{% endblock %}